.test {
    color: brown;
    border: black 5px solid;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.blue {
    background-color: #008294;
    text-align: center;
    color: white;
    margin: 0;
}