*, *::before, *::after {
    box-sizing: border-box;
}

:root::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    width: 0 !important;
    overflow: -moz-scrollbars-none;
}

html, body {
    font-size: 16px;
}

.test {
    color: brown;
    border: black 5px solid;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.blue {
    /* background-color: #008294; */
    background-image: linear-gradient(#008294, #90d5ff);
    /* background-image: linear-gradient(#950606, #ff5b00, #b0054b); */
    border-radius: 1rem;
    text-align: center;
    color: white;
    margin: 0;
    padding: 1rem;
}

.face {
    border-radius: 15rem;
    max-width: 100%;
    height: auto;
}

.certificate {
    max-width: 30%;
    height: auto;
}

.hidden * {
    display: none;
}