*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    margin: 0;
}

.header-container {
    background-image: linear-gradient(#141414, #292929);
    max-width: 100%;
    height: auto;
    text-align: left;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
    position: fixed;
    min-height: 5%;
}

.body-container {
    display: flex;
    padding-top: 5rem;
}

.body-container .text-container {
    margin-top: 3rem;
    padding: 3rem;
}

.clickables-container {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.clickables-container > div {
    cursor: pointer;
}

.face {
    border-radius: 15rem;
    max-width: 100%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    display: block;
    flex-shrink: 0;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
    margin-right: 35rem;
}

button {
    border-radius: 1rem;
    border-color: gray;
    /* color: #008294; */
    color: black;
    margin-bottom: 2rem;
    padding: 1.2rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(gray, #fafafa);
    color: #780606;
    border-color: #780606;
}

.projects-button {
    /* color: purple; */
    color: black;
}

.certificate-button {
    /* color: orange; */
    color: black;
}

.links-container img {
    max-width: 1rem;
    border-radius: 1rem;
}

.project {
    border-radius: 1rem;
    border: black solid 0.2rem;
    background-image: linear-gradient(white, #bbb9b9);
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.certificate-images-container img {
    max-width: 30rem;
}

.hidden * {
    display: none;
}

@media (max-width: 1000px) {
    .face {
        max-width: 30%;
    }
}

@media (max-width: 600px) {
    .face {
        display: none;
    }
}